@charset "utf-8";
body {
	background-image:url("weather.png");
	padding:0px;
	margin:0px;
	font-family:Arial;
	text-align:center;
}

#contenedor{
	border:none;
	width:90%;
	margin:auto;
	background-image:url("school.png");
}

#encabezado{
	width:100%;
	padding:50px;
	text-align:center;
	
}

h1{
	font-size:350%;
	margin-top:0px;
}



#pie{
	font-size:150%;
	width:100%;
	height:200px;
	padding:50px;
	text-align:center;
	
}

.encabezado{		
	font-size:360%;		
	margin-top:0px;	
}

.pie{
	font-size:125%;
}


#navbar{
	width:100%;
}


#enlaces ul{
	list-style-type:none;
	text-align:center;
		
}

#enlaces li{
	list-style-type:none;
	display:inline;	
	border-radius:5px;	
	border:1px solid black;
	padding:50px;
	font-size:180%;
	background-color:#6ed8ff;
	
}

#enlaces a{
	text-decoration:none;
	padding:80px;
	color:white;
	text-align:center;
	
}

#enlaces a:hover {
	color:#ffbe6e;
}

#enlaces_2 ul{
	list-style-type:none;
	text-align:center;
		
}

#enlaces_2 li{
	list-style-type:none;
	display:inline;	
	border-radius:5px;	
	border:1px solid black;
	padding:30px;
	font-size:180%;
	background-color:#6ed8ff;
	
}

#enlaces_2 a{
	text-decoration:none;
	padding:30px;
	color:white;
	text-align:center;
	
}

#enlaces_2 a:hover {
	color:#ffbe6e;
}

#seccion_1, #seccion_2{
	width:100%;
	background-image:url("school.png");	
	
}

#seccion_1{	
	padding:8%;
	width:84%;	
	height:120px;
	
}

#titulo{
	font-size:350%;
}

#instruccion, #instruccion_2{
	font-size:140%;
}

#contenedor_2{	
	background-color:rgba(0, 0, 0, 0.3);
	height:100px;
	padding:100px;
}

